<!DOCTYPE html>
<p lang="en">
<head>
    <title>Title</title>
    <style type="text/css">
        form.big
            {
                width: 20%

            }

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/static/polls/js/bootstrap.min.css">

</head>


<body>
<center>
   前端更新
    </center>
   <br>


<form  class="big"  method="post" id="frontForm" >
 {% csrf_token %}
    同步方向
      <select name="source_target">
        <option value="192.168.10.132_uat1.chinayie.com"> Test132 -> UAT1 </option>
        <option value="192.168.10.132_uat.chinayie.com"> Test132 -> UAT </option>
        <option value="192.168.10.212_uat.chinayie.com"> Trade212 -> UAT </option>
        <option value="192.168.10.212_uat1.chinayie.com"> Trade212 -> UAT1 </option>
        <option value="break_line"> ****************** </option>
        <option value="uat.chinayie.com_www.chinayie.com"> UAT -> 生产 </option>
        <option value="uat1.chinayie.com_www.chinayie.com"> UAT1 -> 生产 </option>

    </select>
    <br>
        <br>
    <br>

    <fieldset >
         <legend> <center> 同步模块选择 </center> </legend>

    <br>
{% for front in frontends %}


     <div id="folders"  align="left">

    <input name="selected_frontends" type="checkbox" value="{{ front }}" />  <strong> {{ front  }}      </strong>  <br>
{% endfor %}
    </div>

    <br>
    <br>
    </fieldset>

 <center> <input type="submit" value="Deploy"> </center>

</form>

 </center>

<script src="/static/polls/js/2.1.4/jquery.min.js"></script>
<script src="/static/polls/js/popper.min.js"></script>
<script src="/static/polls/js/bootstrap.min.js" ></script>


<script>

    $('#frontForm').submit(function(event) {

                event.preventDefault();

                $.post(
                        'deploy_frontend/',
                        $(this).serialize(), function (response) {
                            $('#details').html(response);
                        }
                )
            }
      )




    </script>

</body>


</html>