<!DOCTYPE html>
<p lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Title</title>
    <style type="text/css">
        form.big
            {
                width: 20%

            }
    td div {
             width:150px;
    }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/static/polls/js/bootstrap.min.css">

</head>


<body>

  <div align="center"> 前端更新

   <br>


<form  class="big"  method="post" id="frontForm" >
 {% csrf_token %}

    同步方向

      <select name="source_target">
        <option value="192.168.10.132_uat1.chinayie.com"> Test132 -> UAT1 </option>
        <option value="192.168.10.132_uat.chinayie.com"> Test132 -> UAT </option>
        <option value="192.168.10.212_uat.chinayie.com"> Trade212 -> UAT </option>
        <option value="192.168.10.212_uat1.chinayie.com"> Trade212 -> UAT1 </option>
        <option value="break_line"> ****************** </option>
        <option value="uat.chinayie.com_www.chinayie.com"> UAT -> 生产 </option>
        <option value="uat1.chinayie.com_www.chinayie.com"> UAT1 -> 生产 </option>
    </select>
    <br><br>
         <div id="folders" >

        <table border="1" class="table table-striped table-hover table-bordered">
                <tr>
           {% for front in frontends %}
                    {% if forloop.counter0|divisibleby:"2"  %}
                        </tr><tr>
                        <td >
                          <div class="form-check">    <input name="selected_frontends"  type="checkbox" value="{{ front }}" id="{{ front }}" />
                             <label class="form-check-label" for="{{ front }}">   <strong> {{ front  }}      </strong>
                          </label></div>
                        </td>
                    {% else %}
                        <td >
                          <div class="form-check">     <input name="selected_frontends"   type="checkbox" value="{{ front }}" id="{{ front }}" />
                              <label class="form-check-label" for="{{ front }}">   <strong> {{ front  }}      </strong>
                          </label></div>
                        </td>
                     {% endif %}
            {% endfor %}
        </table>
    </div>
    <button type="submit" class="btn btn-success" value="Deploy" >开始部署</button>

</form>



 </div>

<script src="/static/polls/js/2.1.4/jquery.min.js"></script>
<script src="/static/polls/js/popper.min.js"></script>
<script src="/static/polls/js/bootstrap.min.js" ></script>


<script>

    $('#frontForm').submit(function(event) {

                event.preventDefault();

                $.post(
                        'deploy_frontend/',
                        $(this).serialize(), function (response) {
                            $('#details').html(response);
                        }
                )
            }
      )




    </script>

</body>


</html>