<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/static/polls/js/bootstrap.min.css">
    <script>


function loadXMLDoc()
{
    xmlhttp= new XMLHttpRequest()
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {   resp=xmlhttp.responseText;
            document.getElementById("myDiv").innerHTML= resp;
            if (resp == 1) {
               var tSrc=document.getElementById("state").getAttribute("tSrc");
                var src=document.getElementById("state").getAttribute("src");
                document.getElementById("state").src=tSrc ;
                document.getElementById("state").tSrc=src ;
                document.getElementById("myDiv").innerHTML="<h1>部署完毕!<h1>";
            }
        }

    }

    xmlhttp.open("GET", "/static/polls/deploy_pages.txt", true);
    xmlhttp.send();
}

        window.setInterval(loadXMLDoc, 3000)

    </script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>



<body>

<center>

{% load static %}

<img id="state" src="{% static 'polls/images/progress_bar.gif' %}"  tSrc="{% static 'polls/images/done.jpg' %}"      alt="progress" />

<font size="10">
<div id="myDiv"><h2> </h2></div>

</font>

</center>

<script src="/static/polls/js/2.1.4/jquery.min.js"></script>
<script src="/static/polls/js/popper.min.js"></script>
<script src="/static/polls/js/bootstrap.min.js" ></script>

</body>


</html>